<div class="mat-app-background container">
    <mat-card>
        <mat-card-title>
            #1 and #2
        </mat-card-title>
        <mat-card-subtitle>
            <p>
                Create a long polling with Rxjs.
                Detect when online will start polling, when offline stop polling.
                (Subscribe change online/offline using rxjs. Write a function called getOnlineStatus():
                Observable&lt;boolean&gt;)
            </p>
            <p>
                Detect when user is online and logged in using rxjs.
                Write a log “User is online and logged in”
                (online/offline status is used from above test.
                There is an observable called isUserLoggedIn$ will return value user is online true/false)
            </p>
            <p>
                Open console (Press F12)
            </p>
        </mat-card-subtitle>
        <mat-card-content class="radio-wrapper">
            <div class="label">
                <span>Change Status:</span>
            </div>
            <mat-radio-group class="radio" [(ngModel)]="isUserLoggedIn">
                <mat-radio-button *ngFor="let status of loggedStatuses" [value]="status.value">
                    {{ status.name }}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
</div>