<div class="mat-app-background container">
    <mat-card>
        <mat-card-title>
            #4
        </mat-card-title>
        <mat-card-subtitle>
            <p>Writing a code that get value from one input on change and use
                that value for a function called searchMessages(keyword: string): Observable&lt;Message[]&gt;
                When we receive data from that function. Please display the messages list in the UI using change
                detection</p>
                <p>
                    I misunderstood the condition a little. 
                    If you want, I can finish it, just specify the condition.
                </p>
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>