<div class="mat-app-background container">
        <mat-card>
                <mat-card-title>
                        #3
                </mat-card-title>
                <mat-card-subtitle>
                        <p>You have a function getNumber(): Observable&lt;number&gt;,
                                It use a Subject myNumber$ that adds a random number every 500ms.
                                Please write a code to get list of number from that function when there is change each
                                2s (Please use rxjs)
                        </p>
                </mat-card-subtitle>
                <mat-card-content>
                        Open console (Press F12)
                </mat-card-content>
        </mat-card>
</div>