<div class="mat-app-background container">
    <mat-card>
        <mat-card-title>
            #6
        </mat-card-title>
        <mat-card-subtitle>
            <p>Writing a sample code using a state management. That has Conversation and Message
                models. One Conversation can contain many messages
            </p>
            <p>
                Open console (Press F12) and check source code.
            </p>
        </mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>